@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    padding: 0;
    margin-right: 10px;
    margin-left: 5px;
    font-family: "Tajawal", sans-serif;
}

html{
    background-color: #e68424;
    color: #fff;
}

::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6506ae; /* Color of the thumb */
  }

  ::-webkit-scrollbar-track {
    background-color: #e68424; /* Color of the track */
  }

.purple{
    background-color: #6506ae;
    font-weight: 600;
}

.image,
.text
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text span{
    color: #000;
    font-weight: 500;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #292929;
}

td {
    /* padding-left: 20px;
    padding-right: 20px; */
    height: 30px;
    border: 1px solid black;
    text-align: center;
    width: 50%;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e68424;
    color: #fff;
    text-align: center;
    font-family: "Tajawal", sans-serif;
}

#averageCell{
    color: #e68424;
    font-weight: 600;
}

.second{
    margin-top: 50px;
}

.footer{
    margin-bottom: 50px;
}
